@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');
        
            :root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}
        *{
            margin: 0;
            padding: 0;
            font-family: 'inter',sans-serif;
            text-decoration: none;
        }
        body{
            height: 100vh;
            background-color: var(--background-color);
            padding: 2rem;
            

        }
        .header_content{
            display: flex;
            justify-content: space-between;
            max-width: 1280px;
            margin: 0 auto;
            align-items: center;
            padding: 0.1rem;
        }
        .logo{
            display: flex;
            align-items: center;
            font-weight: bold;
            color: var(--text-color);
            gap: 0.625rem;
            text-decoration: none;
        }
        .logo_text{
            font-size: 2rem;
            font-weight: bold;
        }
        .logo_icon{
            height: 5.875;
            width: 1.938;
        }
        .nav{
            display: none;
            gap: 1.5rem;
            margin: 2rem;
        }
        @media screen and (min-width:768px){
            .nav{
                display: flex;
            }
            
        } 
            
        
        .nav_link{
            color: #718096;
            font-size: 1.125rem;
            font-weight: 600;
            transform:  color 0.1s;
        }
        .nav_link:hover{
            color: var(--link-color);

        }
        .contact_button{
            /* display: none; */
            border: none;
            border-radius: 0.375rem;
            background-color: var(--primary-color);
            color: var(--background-color);
            transform: all 0.1s;
            padding: 0.75rem 1.5rem;
            font-size: 1rem;
            font-weight: 600;
        }
        @media screen and(min-width:768px) {
            .contact_button{
                display: block;
            }
            
        }
        .contact_button:hover{
            background-color: #5254f8;
        }
        .menu_button{
            display: none;
            border: none;
            border-radius: 0.375;
            background-color: var(--background-color);
            padding: 0.5rem 1.1rem;
            font-size: 1rem;
            font-weight: 600; 

        }
        @media screen and (max-width:768px){
            .menu_button{
                display: block;
            

            
        }
    }
        .menu_icon{
            height: 1.5rem;
            width: 1.5rem;
        }
        .main_section{
            max-width: 1280px;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 0.6rem;
            margin: 0 auto;
            align-items: center;
        }
        .content_left{
            text-align: center;
            animation: slidefromleft 1s ease forwards;
            opacity: 0;
            width: 50%;
        }
        @keyframes slidefromleft {
            
            0%{
                opacity: 0;
                transform: translateX(-100%);
            }
            100%{
                opacity: 1;
                transform: translateX(0);
            }
        }
        .section_label{
            font-size: 1.15rem;
            font-weight: 600;
            color: var(--primary-color);
        }
        .section_tittle{
            font-size: 2.3rem;
            padding: 1.1rem;
            color: var(--text-color);
        }
        .section_description{
            font-size: 1.12rem;
            color: var(--gray);
        }
        .button_group{
            display: flex;
            gap: 2rem;
            padding: 1rem;
            margin-top: 1rem;
            align-items: center;
            justify-content: center;
        }
        .start_button,
        .tour_button{
            border: none;
            border-radius: 0.375rem;
            background-color: var(--primary-color);
            color: var(--background-color);
            transform: all 0.1s;
            padding: 0.75rem 1.5rem;
            font-size: 1rem;
            font-weight: 600
        }
        .tour_button{
            background-color: var(--dark-gray);
        }
        .start_button:hover{
            background-color: #5254f8;
        }
        .tour_button:hover{
            background-color:var(--gray);
        }
        .content_right{
            display: flex;
            justify-content: center;
            align-items: center;
            /* width: 50%; */
            

        }
        .image_containor{
            border: none;
            border-radius:1.125rem ;
            box-shadow:0px 4px 8px rgba(0, 0, 0, 0.1) ;
            overflow:hidden ;
            height: 9vh;
            
        
            margin-top: 8rem;




        }
        .section_image {
           
            height: 100%;
            /* width: auto; */
            
        }
        @media screen and (min-width:768px){
            .main_section{
                flex-direction: row;
            }
            .content_left{
                max-width: 50%;
                text-align: left;
            }
            .section_tittle{
                padding-left: 0;
            }
            .button_group{
                padding-left: 0;
                justify-content: start;
            }
            .section_label{
                font-size: 1rem;
            }
            .section_tittle{
                font-size: 3.7rem;
            }
            .section_description{
                
                font-size: 1.1rem;
                width: 78%;
                color: var(--gray);
            }
            .image_containor{
                height: 67vh;
            }

        }
        .company_containor{
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            justify-content: center;
            align-items: center;
        }
       .companygrid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 1.8rem 2.5rem;
        gap: 3.6rem;
        background-color: var(--light-gray);
        border: none;
        border-radius: 0.625rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        animation: slidefromleft 1s ease forwards;
       }
       .companylogo{
        font-size: 1rem;
        font-weight:500 ;
        color: var(--gray);
        gap:0.5rem;
        display: flex;
       }
       .svg_logo{
        height: 1.56rem;
       }
       .logo_txt{
        font-size: 1rem;
       }
    @media screen and (min-width:640px){
        .companygrid{
            grid-template-columns: repeat(4,1fr);
        }
        .company_tittle{
            font-size:2.3rem ;
            font-weight: bold;
        }
        
    }
    .featurecontainor{
        background-color: var(--light-gray);
        padding: 2.5rem 0;
        text-align: center;

      }
      .featurecontent{
        max-width: 800px;
        margin: 0 auto;
        padding: 0 2rem ;
      }
      .main_tittle{
        font: 2.15rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .main_descrip{
        color: var(--light-gray);
        font-size: 1.1rem;
      }
      main_info{
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      .feature_grid{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2,1fr);
        margin-top: 1.3rem;
      }
      .icon_containor{
        background-color: var(--background-color);
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .feature_svg{
        width: 1.5rem;
        height: 1.5rem;
      }
      .feature_card{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: rgb(112, 112, 121);
        padding: 2rem;
        border-radius: 1rem;
        gap: 1rem;
      }
      .feature_tittle{
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        
        
      }
      .feature_descrip{
        color: white;
      }
      .feature_card:nth-child(1){
        background-color:#4a90e2;
      }
      .feature_card:nth-child(2){
        background-color: #ff6289;
      }
      .feature_card:nth-child(3){
        background-color: #fcbf58;
      }
      .feature_card:nth-child(4){
        background-color: #44bfc3;
      }
      .feature_card:nth-child(5){
        background-color: #77b05d;
      }
      .feature_card:nth-child(6){
        background-color: #7d78b1;
      }
      .feature_info{
        display: flex;
        flex-direction: column;
        gap: 1rem ;
      }
      @media screen and (max-width:768px){
        .feature_grid{
            grid-template-columns: repeat(1,1fr );
        

        
    }
}
.test_containor{
    margin: 0 auto;
    max-width: 1280px;
    background-color: var(--background-color);
    padding: 0 2rem;
}
.test_content{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 2rem;
}
.test_tittle{
    font-size: 1.875;
    font-weight: bold;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.test_grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-gap: 2rem;
    
}
.test_card{
    display: flex;
    border: 1px solid rgb(105, 104, 104);
    border-radius: 1rem;
    flex-direction: column;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    padding: 1.2rem;
    gap: 1.0rem;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}
.test_card:hover{
    transform: scale(1.05);;
    box-shadow: 0 4px 8px rgb(0, 0,0,0.2);
    border: 1px solid blue;
}
.avtar img{
    height: 5rem;
    width: 5rem;
}
.text{
    font-size: 0.875rem;
    color: #555;
}
.test_name{
    font-size: 1rem;
    color: var(--primary-color);
}
.test_des{
    font-size: 0.875rem;
    /* color: var(--primary-color); */
    color: #777;
}



.testimonial-container{
    background-color: var(--background-color);
    padding: 2rem;
    margin: 0 auto;
    max-width: 1280px;
}
.testimonial-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.testimonial-title{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.875rem;
    font-weight: bold;
}

.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: 2rem;
}

.testimonial-card{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(171, 163, 163);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1.2rem;
    gap: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-card:hover{
    transform: scale(1.05);;
    box-shadow: 0 4px 8px rbga(0,0,0,0.2);
    border: 1px solid blue;
}

.testimonial-avatar img{
    height: 5rem;
    width: 5rem;
}

.testimonial-text{
    color: #555;
    font-size: 0.875rem;
}

.testimonial-name{
    color: var(--primary-color);
    font-size: 1rem;
}

.testimonial-desc{
    font-size: 0.875rem;
    color: #777;
}



/* part5 start from here */
.newsletter_containor{
    background-color: var(--background-color);
    max-width: 1000px;
    height: 40vh;
    margin: 0 auto;
    margin-top: 3rem;

}
.news_content{
    display: flex;
    flex-direction: row;
    background-color: var(--light-gray);
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}
.left{
    height: 100%;
    width: 50%;
    /* position: relative; */
}
.left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* position: absolute;
    inset: 0; */
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
    align-items: flex-start;
    width: 50%;
    /* margin-left: 1rem; */
}
@media screen and(min-width:640px){
    .news_left{
        display: block;
        width: 50%;
    }
    .right{
        width: 50%;
    }
    .newsletter_containor{
        padding: 2rem;
    }
    
}
.news_tittle{
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: bold;
}
.news_info{
    padding: 0 3rem;
}
.news_description{
    text-align: left;
    color: #777;
}
.news_form{
    padding: 0 3rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    gap: 0.6 rem;

}
.news_email{
    background-color: var(--background-color);
    /* width: 100%; */
    color: #333;
    outline: none;
    border: 1px solid #ccc;
    padding: 0.5 0.75rem;
    border-radius: 4px;
}
.news_email:focus{
    border-color: #2563eb;
    box-shadow: 0 4px 8px rgb(0, 0,0,0.3);
}
.news_send_button{
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}
.news_send_button:hover{
    background-color: var(--link-color);
}
.privacy_policy{
    padding: 0 3rem;
    font-size: 0.76rem;
    color: #777;
}
.news_link{
     text-decoration: underline;
     color: #2563eb;
}
@media screen and(min-width){
    .news_tittle{
        font-size: 2.5rem;
    }
    
}
/* part6 */
.footer_main{
    max-width: 1100px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0 2rem;
}
.footer_right{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 58%;
    grid-gap: 5.67rem;
    padding-top: 2rem;
}
.footer_linklist{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.footer_left{
    width: 38%;
    margin: 2rem;
}
ul{
    list-style-type: none;
}
.footer_link{
    color: #777;
    font-size: 0.875rem;
}
.heading{
    font-size: 1.05rem;
    font-weight: bold;
    color: var(--text-color);
}
.footer_des{
    color: var(--gray);
    font-size: 0.75rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    padding-top: 1.15rem;
    border-top: 1px solid #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_link:hover{
    color: var(--primary-color);
}